# Entorno virtual
venv/

# Variables de entorno
.env

# Caché de Python
_pycache_/
*.pyc

# Configuración local de VSCode
.vscode/

# Archivos temporales
*.log

# Base de datos local (SQLite de pruebas)
*.db