{% extends "base.html" %}

{% block contenido %}

<h2>Bienvenido al Sistema SENAMECF</h2>

<p>
Sistema para la gestión de bienestar social,
empleados, especialistas médicos y citas.
</p>

<h3>Resumen General</h3>

<table border="1" cellpadding="10">

    <tr>
        <th>Módulo</th>
        <th>Total</th>
    </tr>

    <tr>
        <td>Empleados</td>
        <td>{{ total_empleados }}</td>
    </tr>

    <tr>
        <td>Especialistas</td>
        <td>{{ total_especialistas }}</td>
    </tr>

    <tr>
        <td>Especializaciones</td>
        <td>{{ total_especializaciones }}</td>
    </tr>

    <tr>
        <td>Usuarios</td>
        <td>{{ total_usuarios }}</td>
    </tr>

    <tr>
        <td>Citas</td>
        <td>{{ total_citas }}</td>
    </tr>

</table>

<h3>Accesos Rápidos</h3>


{% endblock %}